<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Projects</h1>
    <p class="lead text-muted">Please take a look at the projects or works that I have been working on. </p>
    <p>
      <%= link_to "Find More About Me", about_me_path, class: "btn btn-primary" %>
      <%= link_to "My Blogs", blogs_path, class: "btn btn-secondary"  %>
    </p>
  </div>
</section>