<main role="main" class="inner cover">
  <h1 class="cover-heading">Hi There!</h1>
  <p class="lead">Are you ready to learn more about me and what I do?</p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary"%>
  </p>
</main>
