
<div class="album py-5 bg-light">
  <div class="container">
    <%= link_to "Create New Item", new_project_url if logged_in?(:site_admin) %>

    <div class="row">
      <%= render partial: "project_item", collection: @project_items %>
    </div>
  </div>
</div>